<h2>Estudantes</h2>

<table class="students">
  <tr *ngFor="let studList of students">
    <button type="button" (click)="onSelect(studList)" [class.selected]="studList === selectedStud">
      <td class="id">RA: {{studList.id}}, </td>
      <td class="name">Nome: {{studList.name}} </td>
      <td class="data">Data de Nascimento: {{studList.data}} </td>
      <td class="serie">Série: {{studList.serie}}</td>
    </button>    
</tr>
</table>

<div *ngIf = "selectedStud">
  <div class="inputs">
      <label for="name">Nome: </label>
      <input id="name" [(ngModel)]="selectedStud.name" placeholder="name">

      <label for="id">RA: </label>
      <input id="id" [(ngModel)]="selectedStud.id" placeholder="id">

      <label for="data">Data de Nascimento: </label>
      <input id="data" [(ngModel)]="selectedStud.data" placeholder="data">

      <label for="serie">Série: </label>
      <input id="serie" [(ngModel)]="selectedStud.serie" placeholder="serie">
  </div>
</div>
