/*Style Cadastro-estudantes*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500&display=swap');

*{
    font-family: Poppins, sans-serif;
}

body {
    background: rgb(246, 238, 238);
    margin: 2em;
}

h1{
    color: #00437B;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-left: 2em;
}

h2, h3 {
    color: #EFB840;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

input [type="text"]{
    background: white;
    border-style: solid;
    border-color: #EFB840;
    border-radius: 5px;
    color: #00437B;
    font-weight: 200;
}

button{
    background: #EFB840;
    color: #00437B;
    border-radius: 5px;
    border: none;
    
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    cursor: pointer;
}

button:hover {
    background: #FCC244;
  }

  button:disabled {
    background-color: #EFB840;
    color: #3471B2;
    cursor: auto;
  }

  
  