<div *ngIf="student">
    <h2>{{student.name}} Detalhes:</h2>
  
    <div>id: {{student.id}}</div>
    <div>
      <label for="stud-name">Edite o nome do estudante: </label>
      <input id="stud-name" [(ngModel)] = "student.name" placeholder="name">
    </div>
  
    <div>
      <label for="stud-name">Editar data de Nascimento: </label>
      <input id="stud-data" [(ngModel)] = "student.data" placeholder="data">
    </div>
  
    <div>
      <label for="stud-serie">Editar Série: </label>
      <input id="stud-serie" [(ngModel)] = "student.serie" placeholder="serie">
    </div>
  </div>
